.circle1, .circle2 {
    background-color: #B7E5FF;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;

}

hr {
    height: 0.2rem;
    width: 15rem;
    background-color: #E09FFF;
    margin: auto;
    border: none;
}